<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
</head>
<body>
<br>
<div>
    <a th:href="@{/}"><img src="images/mainbooks_logo.png" title="Mainbooks logo" alt="Mainbooks logo" style="height: 100px; float: left; margin-left: 15px;" /></a>
</div>
<div class="container" style="max-width: 700px;">
    <div class="card" style="text-align: center;">
        <div class="card-header text-center">
            <h3>Adicionar Livro</h3>
        </div>
        <div class="card-body">
            <form th:action="@{salvar}" method="POST" id="formLivro" >
                <div class="row">
                    <div class="col-2">
                        <label for="codigo"><b>Código</b></label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="codigo" id="codigo" class="form-control" style="width: 150%;"/>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">
                        <label for="titulo"><b>Título</b></label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="titulo" id="titulo" class="form-control" style="width: 150%;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">
                        <label for="autor"><b>Autor</b></label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="autor" id="autor" class="form-control" style="width: 150%;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">
                        <label for="isbn"><b>ISBN</b></label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="isbn" id="isbn" class="form-control" style="width: 150%;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">
                        <label for="editora"><b>Editora</b></label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="editora" id="editora" class="form-control" style="width: 150%;" />
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-success">
                    Salvar <i class="fa fa-plus-square" aria-hidden="true" style="margin-left: 5px;"></i>
                </button>
                <a th:href="@{livros}" class="btn btn-primary">
                    Listar Livros
                    <i class="fa fa-list" aria-hidden="true" style="margin-left: 5px;"></i>
                </a>
            </form>
        </div>
        <div th:if="${mensagem!=null}" class="card-footer bg-white text-success">
            <span th:text="${mensagem}"></span>
        </div>
    </div>
</div>
</body>
</html>
