<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uh Oh</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
</head>
<body>
<div>
    <a th:href="@{/}"><img src="images/mainbooks_logo.png" title="Mainbooks logo" alt="Mainbooks logo" style="height: 100px; float: left; margin-left: 15px; margin-right: 15px;" /></a>
</div>
<h1>Ocorreu um erro</h1>
<p>Verifique a url que você está tentando acessar e tente novamente.</p>
<p>
    <a th:href="@{/}">Página Inicial</a>
</p>
</body>
</html>
